{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if posts %}
<!--    <h4 style = "position:relative; right:320px; " >There are {{ posts|length}} posts available</h4>-->
    <table>
        {% if perms.simpleapp.add_product %}
        <tr style = "position:relative; left:788px; top:15px;">
            <td>
                <span>
                    <a href="news/create/"><button style = "border:none;background-color:white;font-size:20px;"><b>Add News</b></button></a> or
                    <a href="articles/create/"><button style = "border:none;background-color:white;font-size:20px;"><b>Add Article</b></button></a>
                </span>
            </td>
        </tr>
        {% endif %}
    </table>

    <hr>
    {% for post in posts %}
        <table>
            <tr align="justify">
                <th><a style="text-decoration:none;color:black;" href="{{ post.get_absolute_url }}">{{ post.post_title}}</a></th>
            </tr>
            <tr align="justify">
                <td>{{ post.post_time|date:'H:i, d M y '}}</td>
            </tr>
            <tr align="justify">
                <td>{{ post.post_content|truncatechars:20 }}</td>
            </tr>
            {% if perms.simpleapp.add_product %}
            <tr>
                <td align="justify"><p><a href="{{post.id}}/edit"><button style = "border:none;background-color:white;"><i>Edit</i></button></a>  <a href="{{post.id}}/delete"><button style = "border:none;background-color:white;"><i>Delete</i></button></a></p></td>
            </tr>
            {% else %}
            <br>
            {% endif %}
        </table>
    {% endfor %}
{% else %}
    <h2>there are no posts</h2>
{% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}